nav {
  background-color: #19181c;
  color: #fcfcfc;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul li a {
  color: #fcfcfc;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

nav ul li a:hover {
  background-color: #d6d2d7;
  color: #19181c;
  transition: background-color 0.3s ease;
}

#mode-switch {
  position: relative;
  border: 0.25rem solid #04365d;
  border-radius: 1rem;
  background: #4b86b4;
  height: 2rem;
  width: 5rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

#mode-switch.dark {
  background: #19181c;
}
