@import '../../../variables.scss';

nav {
  background-color: $grey-dark;
  color: $blue-white;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul li a {
  color: $blue-white;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

nav ul li a:hover {
  background-color: $grey-medium-light;
  color: $grey-dark;
  transition: background-color 0.3s ease;
}

#mode-switch {
  position: relative;
  border: 0.25rem solid $blue-dark;
  border-radius: 1rem;
  background: $blue-secondary;
  height: 2rem;
  width: 5rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

#mode-switch.dark {
  background: $grey-dark;
}
