<div class="center">
	<div class="block-text">
		<h2 class="new-line">
			<br />I have most of the larger labs and projects from any of my classes posted on my GitHub, linked below... (please do not use my code
			for your own submissions)
		</h2>
		<h2>Most of the code on my GitHub is exactly what I submitted to Canvas, so early work may be rough!</h2>
		<br />
		<button onclick="window.open('https://github.com/MakennaWorley','_blank');" class="external-social-button" id="github-button">
			<img src="images/github.png" alt="github icon" class="external-social-icon" />
			GitHub: MakennaWorley
		</button>
		<br /><br />
		<p>At the moment I am still working on the behavior of the carousels showing off my projects!</p>
	</div>
</div>

<div class="center-content">
	<!--<div class="carousel-container">
		<h1 class="center">TESTING</h1>
		<app-carousel [items]="testingProjects"></app-carousel>
		<br />
	</div>-->

	<div class="carousel-container">
		<h1 class="center">Python</h1>
		<app-carousel [items]="pythonProjects"></app-carousel>
		<br />
	</div>

	<div class="carousel-container">
		<h1 class="center">Java</h1>
		<app-carousel [items]="javaProjects"></app-carousel>
		<br />
	</div>

	<div class="carousel-container">
		<h1 class="center">Rust</h1>
		<app-carousel [items]="rustProjects"></app-carousel>
		<br />
	</div>

	<!--<div class="carousel-container">
		<h1 class="center">Javascript/Typescript</h1>
		<app-carousel [items]="browserProjects"></app-carousel>
		<br />
	</div>-->

	<div class="carousel-container">
		<h1 class="center">C/C++</h1>
		<app-carousel [items]="cProjects"></app-carousel>
		<br />
	</div>

	<div class="carousel-container">
		<h1 class="center">PHP</h1>
		<app-carousel [items]="phpProjects"></app-carousel>
		<br />
	</div>

	<div class="carousel-container">
		<h1 class="center">Other Languages</h1>
		<app-carousel [items]="randomProjects"></app-carousel>
		<br />
	</div>
</div>
