@import '../../../variables.scss';

@keyframes gradientAnimation {
	0%,
	100% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}
@-webkit-keyframes gradientAnimation {
	0%,
	100% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}
header {
	align-items: center;
	animation: gradientAnimation 7s ease infinite;
	-webkit-animation: gradientAnimation 15s ease infinite;
	background: linear-gradient(45deg, $blue-dark, $blue-primary, $blue-secondary, $blue-info);
	background-size: 200% 200%;
	background-position: 0% 50%;
	justify-content: center;
	text-align: center;
	width: 100%;
}

#headerText {
	font-size: 3rem;
	color: $blue-white;
	padding: 3rem 0 3rem 0;
	text-align: center;
}
