@keyframes gradientAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
@-webkit-keyframes gradientAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
header {
  align-items: center;
  animation: gradientAnimation 7s ease infinite;
  -webkit-animation: gradientAnimation 15s ease infinite;
  background: linear-gradient(45deg, #04365d, #1f6193, #4b86b4, #81b6df);
  background-size: 200% 200%;
  background-position: 0% 50%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#headerText {
  font-size: 3rem;
  color: #fcfcfc;
  padding: 3rem 0 3rem 0;
  text-align: center;
}
