<div class="center">
	<div class="block-text">
		<h1 class="new-line">CircuitCraft: An Innovative Way of Drawing Circuits</h1>
		<p class="new-line">
			In collaboration with Shreeya Maskey and under the guidance of Dr. Kathryn Lenth, we developed a React based web application designed
			specifically for students taking CMPT 328: Computer Architecture. CircuitCraft allows students to draw, edit, save, and upload circuit
			diagrams via their devices for submission on in-class activities and homework assignments. This application will be used in the Spring
			2026 CMPT 328 course!
		</p>
		<p class="new-line">This application uses the React Library and ReactFlow, a sublibrary built ontop of React for the frontend.</p>
		<p class="new-line">
			When doing designing and building this application, we followed the Agile Methodology and met weekly to review progess on the development.
			Replicating what happens with designing and developing applications in the Computer Science industry. Through this experience I learned
			how challenging development can be and that we have to narrow down the necessary features for our app into bite-sized elements that we can
			finish by the end of the sprint. And I got to learn more about React!
		</p>
		<div class="video-container">
			<iframe
				src="https://www.youtube.com/embed/tglsUBSb1_4?si=uPa_Yj7ldEUYTM4v"
				title="CircuitCraft Demo"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin"
				allowfullscreen
			></iframe>
		</div>
		<button onclick="window.open('https://github.com/klenth/circuitcraft','_blank');" class="external-social-button" id="github-button">
			<img src="images/github.png" alt="github icon" class="external-social-icon" />
			Link to GitHub Repo
		</button>
		<p class="new-line"></p>

		<h1 class="new-line"><em>A Quantitative Reasoning for Social Justice Active Learning Textbook</em></h1>
		<p class="new-line">
			I contributed to the development of an active learning textbook for the course "Social Justice By The Numbers", which I took as part of my
			first-semester learning community. My work involved reviewing and improving exercises from a student's perspective, creating new
			questions, solutions guides for professors for Module 2 and 4. This work aims to provide more robust and tested educational materials for
			future students. Dr. Bianca Thompson will be using my work in Fall 2024 for Social Justice By The Numbers course!
		</p>
		<p class="new-line">Google Docs for the solution guides with supplimentary calculators in Google Sheets</p>
		<p class="new-line">
			Coming from a student's perspective, I knew that I needed to write enough questions that professors could pick from while also making each
			exercise meanful for those students who may or may not like doing math. Which lead me see the importance of framing questions in a way
			that enhances student understanding while avoiding frustration from excessively long and over complicated problems. This experience also
			highlighted the considerations needed when drafting questions for educational materials, especially in mathematics.
		</p>
		<button onclick="window.open('https://github.com/Zibiana/QR4SJ','_blank');" class="external-social-button" id="github-button">
			<img src="images/github.png" alt="github icon" class="external-social-icon" />
			Link to GitHub Repo
		</button>
		<p class="new-line"></p>

		<h1 class="new-line">Designing the Westminster Computer Science Department Discord Server</h1>
		<p class="new-line">
			At the request of Dr. Helen Hu, the Chair of the Computer Science Department, I created and maintain the Westminster CS Department Discord
			Server. This project was initiated to replace Slack, which became less viable due to policy changes limiting message retention without a
			subscription. The server serves as a central communication hub for the department, facilitating interactions between students and
			professors.
		</p>
		<p class="new-line">Discord and Bots like Mee6, Dyno, and EasyPoll</p>
		<p class="new-line">
			Knowing that not all faculty and students would be familiar with Discord, I knew I had to make this as user-friendly as possible. Along
			with testing different role permissions and creating class specific channels, I also had to maintain the user-friendly server. I also
			developed skills in writing comprehensive documentation to help users navigate the server effectively.
			<br />
			Now that the Discord is built and all Computer Science classes are using the server as the main source for communication. My research has
			branched into creating community withing the Computer Science Department. Starting with the Mario Kart Tournament in Fall of 2024!
		</p>
	</div>
</div>
