// Blues
$blue-light: #c8e1f4;
$blue-white: #fcfcfc;
$blue-dark: #04365d;
$blue-primary: #2a6ebd;
$blue-secondary: #4b86b4;
$blue-info: #81b6df;

// Greyscale (Text)
$grey-dark: #19181c;
$grey-medium-dark: #67696b;
$grey-medium: #979593;
$grey-medium-light: #d6d2d7;

// Accents
$accent-1: #521287;
$accent-2: #04524f;

// New Background Color for Section Breaks
$section-background: #f7f9fc; // Very light blueish grey

// Slightly richer blue for links on hover
$blue-hover: #2a6ebd;
