<div class="timeline">
	<div class="container right">
		<div class="dot"></div>
		<div class="content">
			<h2>2008-2015: Early In My Life</h2>
			<p class="indent">
				Around age 4 or 5, after seeing some of my peers playing a game of chess, my mother sat down to teach me how to play. Within two
				months, I won my first game against her and to this day, she will not play me anymore.
			</p>
			<p class="indent">
				I also joined Oakwood Elementary's Chess Club (I volunteer there are a chess instructor now) and began playing against students. I
				still play chess, just not as much anymore. You can find me on
				<button
					onclick="window.open('https://www.chess.com/member/makennaworley','_blank');"
					class="external-social-button"
					id="chess-button"
				>
					<img src="images/chess.comlogo.png" alt="chess.com icon" class="icon-button" />
				</button>
			</p>
			<p class="indent">I also got my first video game console around this time.</p>
		</div>
	</div>
	<div class="container left">
		<div class="content">
			<h2>2016: Software Modding</h2>
			<p class="indent">
				My journey in Computer Science officially started around 2016, when I modded my New 3DS XL I had gotten for Christmas in 2015. The
				main goal was modifying my Pokemon save... To this day, I continue to mod my personal Nintendo and Playstation consoles.
			</p>
			<p class="indent">
				So far, I have soft modded: 2x wii's, 1x wii U, 3x 3DS/2DS, 2x Switches, 1x PSP, and 1 PS Vita. Although I mostly focus on the
				software side of modding I have modded the odd Gameboy with new screens/shells and replaced the batteries in old Pokemon games from
				the Gameboy era.
			</p>
		</div>
	</div>
	<div class="container right">
		<div class="content">
			<h2>2021-2024: My First Internship (Ranlife Home Loans)</h2>
			<p class="indent">
				During my Senior Year of High School, I was offered an Internship at RanLife Home Loans in the IT department. There I learned:
			</p>
			<ul>
				<li>PHP</li>
				<li>Javascript via Bootstrap 5</li>
				<li>HTML and CSS</li>
				<li>MySQL</li>
				<li>Linux, even setting up a Red Hat Server</li>
				<li>SSH</li>
				<li>SMS on Raspberry Pi 4's</li>
				<li>Limited 3D modeling in Blender 3.6</li>
				<li>3D printing on AnyCubic and BambuLab printers</li>
			</ul>
		</div>
	</div>
	<div class="container left">
		<div class="content">
			<h2>2022: Graduating High School and Enrolling at Westminster</h2>
			<p><strong>In January-</strong> I was awarded the Presidential Scholarship at both Westminster College and the University of Utah.</p>
			<p>
				<strong>In March-</strong> I was accepted in University of California San Diego. But decided to attend Westminster over U of U and
				UCSD.
			</p>
			<p>
				<strong>In May-</strong> I graduated from Cottonwood High School with a 4.0 (one of six sutdents) and completion of 18 AP Classes in
				English, History and Social Sciences, Math, Sciences, and World Languages.
			</p>
			<p>
				<strong>In August-</strong> I attended the First Scholars Bridge Program and met my cohort of First Generation college students. And
				started my first semester of college.
			</p>
			<p><strong>In December-</strong> At the end of the semester in Dr. Helen Hu's CMPT 201 class, I won the uno tournament!</p>
		</div>
	</div>
	<div class="container right">
		<div class="content">
			<h2>2023: Opportunities</h2>
			<p><strong>In March-</strong> I helped TA CMPT 201 for Dr. Helen Hu with peer, Shreeya Maskey.</p>
			<p><strong>In April-</strong> I was invited by Dr. Helen Hu to be a college panelist for the NCWIT 2023 Awards.</p>
			<p>
				<strong>In August-</strong> With Dr. Helen Hu, as an undergraduate research assistant, I began work on the official Westminster
				Computer Science Discord.
			</p>
			<p class="indent">I started working as a tutor for Westminster's Computer Science, Math, and Physics Tutoring Center.</p>
		</div>
	</div>
	<div class="container left">
		<div class="content">
			<h2>2024-NOW: My Second Internship (Ken Garff Automotive)</h2>
			<p class="indent">
				After being laidoff at Ranlife Home Loans, I got an internship at KGA at the beginning of the summer. I'm currently learning:
			</p>
			<ul>
				<li>Angular Typescript</li>
				<li>Nestjs</li>
				<li>Jest</li>
				<li>Snowflake</li>
				<li>Domo</li>
				<li>Jira</li>
			</ul>
		</div>
	</div>
	<div class="container right">
		<div class="content">
			<h2>2024: Research, Research, and More Research</h2>
			<p>
				<strong>In January-</strong> With Dr. Bianca Thompson, as an undergraduate research assistant, I worked solutions to Module 2 and
				question drafting for Module 4 in the book: <em>A Quantitative Reasoning for Social Justice Active Learning Textbook</em>. My work
				will be used in Fall 2024 for the Social Justice By the Numbers Course!
			</p>
			<p><strong>In March-</strong> I was laid off at RanLife Home Loans due to budget concerns and began my search for a new internship.</p>
			<p><strong>In April-</strong> I was invited by Dr. Helen Hu to be a college panelist for the NCWIT 2024 Awards.</p>
			<p>
				<strong>In May-</strong> With Dr. Kathryn Lenth, as an undergraduate research assistant with peer Shreeya Maskey, we worked on a
				circuit diagram drawing software using React.
			</p>
			<p class="indent">
				Through the involvement of Ken Garff at the NCWIT 2024 awards, I applied and was offered an internship at Ken Garff Automotive in
				their Data and Analytics Department. I've loved every moment working there!
			</p>
		</div>
	</div>
	<div class="container left">
		<div class="content">
			<h2>2025: The Unknown Journey Continues...</h2>
			<p class="indent"><strong>In January-</strong> I lost my dad to Gliobastoma (a stage 4 brain cancer after a 37 month battle)</p>
			<p class="indent"><strong>In February/March-</strong> My team and I won 1st place at HackUSU in the datathon category!</p>
			<p class="indent"><strong>In April-</strong> I was invited by Dr. Helen Hu to be a college panelist for the NCWIT 2025 Awards.</p>
		</div>
	</div>
	<div class="container right">
		<div class="content">
			<h2>2026: Graduation!</h2>
			<p><strong>In May-</strong> I will be graduating in May of 2026!</p>
		</div>
	</div>
</div>
