@import '../../../variables.scss';

* {
	box-sizing: border-box;
}

.timeline {
	position: relative;
	margin: 0 auto;
	padding-top: 4rem;
	padding-bottom: 4rem;
	max-width: 1200px;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 0.5rem;
	background-color: $blue-light;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -0.25rem;
}

.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}

.container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: $blue-light;
	border: 4px solid $blue-secondary;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

.left {
	left: 0;
}

.right {
	left: 50%;
}

.left::after {
	right: -13px;
}

.right::after {
	left: -13px;
}

.content {
	padding: 20px 30px;
	background-color: $blue-white;
	border: 0.25rem solid $blue-dark;
	position: relative;
	border-radius: 3rem;
}

@media screen and (max-width: 1024px) {
	.timeline::after {
		left: 31px;
	}

	.container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
		padding-bottom: 30px;
	}

	.container::after {
		left: 15px;
	}

	.right {
		left: 0%;
	}

	.right::after {
		left: 15px;
	}

	.content {
		padding-left: 50px;
		padding-right: 50px;
	}
}
