<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles.scss" />
    <link rel="stylesheet" href="./banner.component.scss" />
  </head>
  <body>
    <div class="banner-container">
      <div class="banner">
        <img src="images/westminsterU.png" alt="Westminster University SLC" />
        <img src="images/kengarff.png" alt="Ken Garff" />
        <img src="images/ranlife.png" alt="RanLife Home Loans SLC" />
      </div>
    </div>
  </body>
</html>
