<div class="center">
  <div class="block-text">
    <h1 class="new-line">From Scratch Database: A Rust recreation of a SQL Database</h1>
    <p class="new-line">
      This is a side project I spun up on a weekend after deciding it would be fun to recreate a database in Rust to not only improve my own Rust
      coding ability but also learn how SQL databases work! The final goal is to have this project able to do anything a regular SQL database can do,
      but this uses .csv files at the moment (I might look into how SQL stores data to recreate that too). But I might also add in some custom
      functions for any future projects or have some SQL injection protection built in. Who knows!
    </p>
    <p class="new-line"></p>
    <button
      onclick="window.open('https://github.com/MakennaWorley/From-Scratch-Database-Rust','_blank');"
      class="external-social-button"
      id="github-button"
    >
      <img src="images/github.png" alt="github icon" class="external-social-icon" />
      Link to GitHub Repo
    </button>
    <p class="new-line"></p>

    <h1 class="new-line">ChessWeb: A Chess Rating and Pairing System</h1>
    <p class="new-line">
      This is a custom made Django web application that was designed from the ground up to save around 4+ hours a week by automating the process of
      updating ratings and pairing the student in Oakwood Elementary's Chess Club students. This program usings a greedy algorithm for pairing the
      players based on their rating and previous opponents.
    </p>
    <p class="new-line">
      Currently, the first prerelease is out on my GitHub! It requires the user to know how to start up a Django python project and has limited
      functionality. I plan on finishing up the full functionality soon! When it is published for release, I'll also make an announcement on my
      LinkedIn and have an installation guide for getting the project set up on your own machine.
    </p>
    <p class="new-line"></p>
    <button
      onclick="window.open('https://github.com/MakennaWorley/Chess-Website-Django','_blank');"
      class="external-social-button"
      id="github-button"
    >
      <img src="images/github.png" alt="github icon" class="external-social-icon" />
      Link to GitHub Repo
    </button>
    <p class="new-line"></p>

    <h1 class="new-line">3D Visualizer: Differential Equations Visualizer</h1>
    <p class="new-line">
      Built using Three.js, this code uses Euler and Runge Kutta 4 to approximate the system of equations (prey and predator by default). This shows
      both the table for the values and either 3D or 2D graphs depending on the angle the user wants to view the graph. Built at a final project for
      Differential Equations with Brynlee Thain. This code contains either the js version meant for running locally or on the server and a python
      script to view locally.
    </p>
    <p class="new-line"></p>
    <a class="end" id="link" href="/3d" target="_blank">Visit Web Version</a>
    <p class="new-line"></p>
    <button
      onclick="window.open('https://github.com/MakennaWorley/3D-Visualization-Plotter-JSPython','_blank');"
      class="external-social-button"
      id="github-button"
    >
      <img src="images/github.png" alt="github icon" class="external-social-icon" />
      Link to GitHub Repo
    </button>
    <p class="new-line"></p>

    <h1 class="new-line">Card Games: Texas Hold'em</h1>
    <p class="new-line">
      Just a silly project I spun up to see if I could get my computer to play Texas Hold'em and test if a random player is better than Alpha Beta
      Pruning or Minimax Players.
    </p>
    <p class="new-line"></p>
    <button onclick="window.open('https://github.com/MakennaWorley/Card-Games-Python','_blank');" class="external-social-button" id="github-button">
      <img src="images/github.png" alt="github icon" class="external-social-icon" />
      Link to GitHub Repo
    </button>
    <p class="new-line"></p>
  </div>
</div>
