<!doctype html>
<html lang="en">
  <body>
    <div class="center">
      <div class="block-text">
        <h1 class="new-line">ChessWeb: A Chess Rating and Pairing System</h1>
        <p class="new-line">
          This is a custom made Django web application that was designed from the ground up to save around 4+ hours a week by automating the process
          of updating ratings and pairing the student in Oakwood Elementary's Chess Club students. This program usings a greedy algorithm for pairing
          the players based on their rating and previous opponents.
        </p>
        <p class="new-line">
          Currently, the first prerelease is out on my GitHub! It requires the user to know how to start up a Django python project and has limited
          functionality. I plan on finishing up the full functionality soon! When it is published for release, I'll also make an announcement on my
          LinkedIn and have an installation guide for getting the project set up on your own machine.
        </p>
        <p class="new-line"></p>
        <button
          onclick="window.open('https://github.com/MakennaWorley/Chess-Website-Django','_blank');"
          class="external-social-button"
          id="github-button"
        >
          <img src="images/github.png" alt="github icon" class="external-social-icon" />
          Link to GitHub Repo
        </button>
        <p class="new-line"></p>

        <h1 class="new-line">DNA Simulation</h1>
        <p class="new-line">
          This was a java project I started up back in Spring of 2024 during my first time. It was meant to be a simplistic genetics simulation which
          a person could use in a Biology Class to see gene inheritance. This code needed a database but when I first coded it, I didn't impliment the
          code to use a database. Therefore, I need to integrate the database into the code after I know the code works which is tedious so I have
          since dropped the project to work on the ChessWeb.
        </p>
        <p class="new-line">
          A Java project using a MySQL Database to simulate the process of gene passing through breeding and random mutation. This allows the user to
          create and breed animals to see find out the genotype of the parents by looking at the phenotype of both the parents and offspring.
          Currently, this project needs to be integrated with the database. At the moment, I'm putting this project on hold as I figure out the best
          way to retroactively do this.
        </p>
        <button onclick="window.open('https://github.com/MakennaWorley/DNA-Java-Sim','_blank');" class="external-social-button" id="github-button">
          <img src="images/github.png" alt="github icon" class="external-social-icon" />
          Link to GitHub Repo
        </button>
      </div>
    </div>
  </body>
</html>
