<body>
  <div class="center">
    <div class="block-text">
      <h2 class="new-line"><br />I have most of the larger labs and projects from any of my classes posted on my GitHub, linked below...</h2>
      <h2>Most of the code on my GitHub is exactly what I submitted to Canvas, so early work may be rough!</h2>
      <br />
      <button onclick="window.open('https://github.com/MakennaWorley','_blank');" class="external-social-button" id="github-button">
        <img src="images/github.png" alt="github icon" class="external-social-icon" />
        MakennaWorley
      </button>
      <br /><br />
    </div>
  </div>

  <div class="carousel-container">
    <h1 class="center">Python</h1>
    <westminster-carousel [items]="pythonProjects"></westminster-carousel>
    <br />
  </div>

  <div class="carousel-container">
    <h1 class="center">Java</h1>
    <westminster-carousel [items]="javaProjects"></westminster-carousel>
    <br />
  </div>

  <div class="carousel-container">
    <h1 class="center">Rust</h1>
    <westminster-carousel [items]="rustProjects"></westminster-carousel>
    <br />
  </div>

  <!--<div class="carousel-container">
    <h1 class="center">Javascript/Typescript</h1>
    <westminster-carousel [items]="browserProjects"></westminster-carousel>
    <br />
  </div>-->

  <div class="carousel-container">
    <h1 class="center">C/C++</h1>
    <westminster-carousel [items]="cProjects"></westminster-carousel>
    <br />
  </div>

  <div class="carousel-container">
    <h1 class="center">PHP</h1>
    <westminster-carousel [items]="phpProjects"></westminster-carousel>
    <br />
  </div>

  <div class="carousel-container">
    <h1 class="center">Other Languages</h1>
    <westminster-carousel [items]="randomProjects"></westminster-carousel>
    <br />
  </div>
</body>
