// Blues
$blue-light: #c8e1f4;
$blue-white: #fcfcfc;
$blue-dark: #04365d;
$blue-primary: #1f6193;
$blue-secondary: #4b86b4;
$blue-info: #81b6df;

// Greyscale (Text)
$grey-dark: #19181c;
$grey-medium-dark: #67696b;
$grey-medium: #979593;
$grey-medium-light: #d6d2d7;

// Accents
$accent-1: #370c5a;
$accent-2: #e84058;
$accent-3: #04524f;
